.mainTitle {
    text-align: center;
    color: #ffffff;
    font-size: 100px;
}
.subTitle {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    padding-top: 115px;
}
/* mainScreen holding the image and the text */
.mainScreen {
    position: absolute;
    width: 80%;
    text-align: center;
    color: white;
    padding-bottom: 40px;
} 
.mainBody {
    position: relative;
    padding-left: 15%;
    padding-top: 35%;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sideBar {
    height: 100%;
    width: 160px;
    position: fixed;
    padding-top: 2%;
    background-color: black;
}
body {
    background-color: silver;
    color: #ffffff;
    font-family: helvetica;
}
p {
    font-size: auto;
}
ul {
    font-family: monospace;
}
/*More specific elements take precedence over ul and body*/
li {
    list-style: none;
    padding: 5px;
}
img {
    width: 300px;
}
/*custom class selectors start with .*/
.list {
    list-style: square;
}
/*custom ID selectors start with #*/
#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}