#MainTitle {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
}
body {
    background-color: silver;
    color: #ffffff;
    font-family: helvetica;
}
p {
    font-size: auto;
}
ul {
    font-family: monospace;
}
/*More specific elements take precedence over ul and body*/
li {
    list-style: none;
    padding: 5px;
}
img {
    width: 300px;
}
/*custom class selectors start with .*/
.list {
    list-style: square;
}
/*custom ID selectors start with #*/
#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}