/* Code borrowed from w3 schools and modified as needed*/

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  color: rgb(0, 46, 83);
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Main Cover - Full height) */
.bgimg-1 {
  background-image: url('/data/images/main-images/main_cover.JPG');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/data/images/main-images/MIT_Dome.jpg");
  min-height: 600px ;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/data/images/main-images/boston-massachusetts-skyline-downtown.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 8px;}
.m3-semi-wide {letter-spacing: 4px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.m3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.m3-button:hover{
    color:rgb(255, 177, 74)!important;
    background-color:rgb(6, 0, 88)!important;
}
.theme-orange-text{color:rgb(255, 145, 0);}
.theme-blue-text{color:rgb(9, 0, 133);}
.theme-orange{background-color:rgb(255, 145, 0);}
.theme-blue{background-color:rgb(12, 0, 184);}

.m3-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.white-text{
    color: antiquewhite;
}
.normal-btn-state{
    color: black;
    font-size: medium;
}
.large-top-padding{
    padding-top: 200px;
    padding-left: 25px;
}
.medium-top-padding{
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 0px;
}
.small-top-padding{
    padding-top: 5px;
    padding-bottom: 0px;
}