.m3-button:hover{color:rgb(18, 6, 180)!important;background-color:#ccc!important}
.m3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.normal-btn-state{color: black;}