.m3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.m3-button:hover{
    color:rgb(255, 166, 0)!important;
    background-color:rgb(12, 0, 184)!important
}
.theme-orange{background-color:rgb(255, 145, 0);}
.theme-blue{background-color:rgb(12, 0, 184);}

.m3-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.white-text{
    color: antiquewhite;
}
.normal-btn-state{
    color: black;
    font-size: medium;
}
.large-top-padding{
    padding-top: 200px;
    padding-left: 25px;
}
.medium-top-padding{
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 0px;
}